# Data Science Tools and Ecosystem

## Author
Jared Loera-Trisciuzzi

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Popular Languages for Data Science
* List Popular Libraries for Data Science
* Table Showing Some Common Development Environments for Data Science
* Demonstrate Simple Mathematical Calculations and Outputs in Jupyter Notebook

**Some of the popular languages that Data Scientists use are:**
1. Python
2. R
3. Julia

**Some of the commonly used libraries used by Data Scientists include:**
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools |
| ------ |
|Jupyter Notebook |
|Visual Studio |
|R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
## This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335